.DS_Store
.git
.deploy_git
node_modules/
dist/
public/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
